/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #1a1a2e; 
    color: #ffffff; 
    margin: 0;
    padding: 0;
}

header {
    background-color: #191970; 
    padding: 20px;
    text-align: center; 
}

.site-title {
    font-family: 'Arial', sans-serif;
    font-size: 3em; 
    color: #f9f9f9; 
    text-shadow: 2px 2px 4px #000; 
}

#login-section {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #222; 
    color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
}

#login-section h2 {
    text-align: center; 
}

#login-section label {
    display: block;
    margin: 10px 0 5px;
}

#login-section input {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#login-section button {
    width: 100%;
    padding: 10px;
    background-color: #7209b7; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em; 
}

#login-section button:hover {
    background-color: #b5179e;
}

.signup-link {
    color: #fff; 
    text-decoration: underline;
}

.back-button {
    display: block;
    margin-top: 20px;
    text-align: center; 
    color: #fff; 
    text-decoration: none; 
}



